:root {
  --color-black: #1f1f1f;
  --color-white: #ffffff;

  --color-green: #34ae6b;
  --color-green-accent: #22c55e;

  --color-grey: #666666;
  --color-ivory: #e0e0e0;

  --color-error: #e11d48;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 10px;
  border: 2px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f9a5e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-black);
}

.main {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 64px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

a {
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

a:hover:not(.button):not(.header__logo):not(.footer__logo) {
  color: green;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
}

.hero {
  position: relative;

  padding: 200px 0 338px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow-x: visible;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 120%;
  background-image: url(../img/decor/hero.webp);
  background-repeat: no-repeat;
  background-position: left top;
  pointer-events: none;
}

.hero__container {
  position: relative;
  z-index: 10;
}

.hero__box {
  position: relative;
  z-index: 10;
  max-width: 820px;
}

.hero__text {
  margin-top: 24px;
}

.hero__buttons {
  margin-top: 80px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__button {
  width: 200px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;

  white-space: nowrap;

  -webkit-transition: opacity 0.25s ease;

  -o-transition: opacity 0.25s ease;

  transition: opacity 0.25s ease;

  cursor: pointer;
}

.button--green {
  padding: 16px 20px;

  height: 50px;
  background: var(--color-green);
  border-radius: 60px;

  color: var(--color-white);
}

.button--transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 12px;
}

.button:hover {
  opacity: 0.85;
}

.arrow {
  display: block;
  width: 24px;
  height: 18px;

  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  z-index: 10;
}

.block-header__text {
  margin-top: 20px;
}

.block-header__titles {
  max-width: 648px;
}

.block-header__button {
  margin-left: 20px;
}

.hero__bg-image {
  position: absolute;
  right: 0;
  top: -20%;

  display: block;
  width: 600px;
  height: 540px;

  background-image: url('../img/hero/hero_img.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.audience {
  position: relative;

  padding-bottom: 150px;
}

.audience::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 120%;
  background-image: url(../img/decor/audience.webp);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.audience__container {
  position: relative;
  z-index: 10;
}

.audience__title {
  max-width: 920px;
}

.audience__list {
  position: relative;
  z-index: 10;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 24px;
  margin-top: 60px;
}

.audience__card {
  padding: 30px 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 30px;

  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);

  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  background-color: var(--color-white);
}

.audience__card-text {
  margin-top: 12px;
  margin-bottom: 32px;
}

.audience__card-img {
  display: block;
  border-radius: 10px;
  height: 200px;

  margin-top: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.service__title {
  max-width: 1130px;
}

.service__text {
  margin-top: 20px;
}

.service__list {
  margin-top: 60px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 24px;
}

.service__card {
  padding: 30px;

  border-radius: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);

  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);

  background-color: var(--color-white);
}

.service__card-text {
  margin-top: 30px;
}

.service__card-subtitle {
  margin-top: 20px;
}

.service__sublist {
  margin-top: 16px;
}

.service__sublist li {
  position: relative;
  padding-left: 30px;
}

.service__sublist li::before {
  content: "";
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;

  position: absolute;
  left: 15px;
  top: 8px;
}

.service__card--gradient {
  background: -o-linear-gradient(133deg, #d3e7fe 0%, #d5eee1 100%);
  background: linear-gradient(317deg, #d3e7fe 0%, #d5eee1 100%);
}

.service__sublist--gradient {
  margin-top: 16px;
}

.cases {
  position: relative;

  padding-top: 150px;
  padding-bottom: 150px;
  overflow-x: visible;
}

.cases::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 120%;
  background-image: url(../img/decor/cases.webp);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.cases__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases__slider-wrapper {
  margin-top: 60px;

  position: relative;
  max-width: 1192px;
  padding-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.cases__slider {
  position: relative;
  max-width: 1192px;
  height: 330px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.cases__slider .owl-stage-outer {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.cases__slide {
  padding: 24px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 100%;
  height: 292px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 0;

  border-radius: 30px;
  -webkit-box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
  -webkit-transition: height 0.5s linear, -webkit-transform 0.5s linear;
  transition: height 0.5s linear, -webkit-transform 0.5s linear;
  -o-transition: height 0.5s linear, transform 0.5s linear;
  transition: height 0.5s linear, transform 0.5s linear;
  transition: height 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
}

.cases__slider .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases__slider.owl-grab .owl-stage-outer {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cases__slider .owl-item.center .cases__slide {
  height: 330px;
}

.cases__slider .owl-nav {
  margin: 0;
}

.cases__slider .owl-nav button.owl-prev,
.cases__slider .owl-nav button.owl-next {
  padding: 10px !important;

  position: absolute;
  top: 50%;
  z-index: 5;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 60px;
  background: var(--color-white);
  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);

  font-size: 0 !important;
  -webkit-transition: background-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.2s ease, -webkit-transform 0.2s ease;
  -o-transition: background-color 0.2s ease, transform 0.2s ease;
  transition: background-color 0.2s ease, transform 0.2s ease;
  transition: background-color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.cases__slider .owl-nav button.owl-prev:hover,
.cases__slider .owl-nav button.owl-next:hover {
  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  background: var(--color-green);
}

.cases__slider .owl-nav button.owl-prev:hover::before,
.cases__slider .owl-nav button.owl-next:hover::before {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.cases__slider .owl-nav button.owl-prev::before,
.cases__slider .owl-nav button.owl-next::before {
  content: "";

  display: block;
  width: 24px;
  height: 15px;

  background-image: url("../img/icons/arrow-slider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cases__slider .owl-nav button.owl-prev {
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.cases__slider .owl-nav button.owl-next {
  right: -60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cases__slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
}

.cases__slider .owl-dots .owl-dot {
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 100%;
  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  background: var(--color-white);

}

.cases__slider .owl-dots .owl-dot.active {
  background: var(--color-green);
}

.cases__slider .owl-dots .owl-dot span {
  display: none;
}

.owl-carousel button.owl-dot {
  background-color: var(--color-white);
}

.cases__mobile {
  display: none;
  width: 200px;
  margin: 66px auto 0;
}

.cases__slide--1 {
  background-image: url(../img/cases/slide1.webp);
  color: var(--color-white);
}

.cases__slide--2 {
  background-image: url(../img/cases/slide2.webp);
}

.cases__slide--3 {
  background-image: url(../img/cases/slide3.webp);
  color: var(--color-white);
}

.cases__slide--4 {
  background-image: url(../img/cases/slide4.webp);
}

.cases__slide-span {
  padding: 4px 8px;

  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  border: 1px solid var(--color-black);
  border-radius: 30px;

  white-space: nowrap;
  font-size: 12px;
}

.cases__slide--1 .cases__slide-span,
.cases__slide--3 .cases__slide-span {
  border: 1px solid var(--color-white);
}

.cases__slide-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-weight: 600;
  font-size: 18px;
}

.cases__link-arrow {
  display: block;
  width: 15px;
  height: 15px;

  background-image: url('../img/icons/link-arrow-black.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cases__slide--1 .cases__link-arrow,
.cases__slide--3 .cases__link-arrow {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.cases__slide-text {
  font-size: 16px;
}

.cases__slide-title {
  margin-top: 12px;
}

.cases__slide-link, .cases__slide-text {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: max-height 1s linear, margin-top 0.5s linear, opacity 0.5s linear,
    visibility 0s linear 0.5s, -webkit-transform 0.5s linear;
  transition: max-height 1s linear, margin-top 0.5s linear, opacity 0.5s linear,
    visibility 0s linear 0.5s, -webkit-transform 0.5s linear;
  -o-transition: max-height 1s linear, margin-top 0.5s linear, opacity 0.5s linear,
    transform 0.5s linear, visibility 0s linear 0.5s;
  transition: max-height 1s linear, margin-top 0.5s linear, opacity 0.5s linear,
    transform 0.5s linear, visibility 0s linear 0.5s;
  transition: max-height 1s linear, margin-top 0.5s linear, opacity 0.5s linear,
    transform 0.5s linear, visibility 0s linear 0.5s, -webkit-transform 0.5s linear;
  will-change: transform;
}

.cases__slider .owl-item.center .cases__slide-link,
.cases__slider .owl-item.center .cases__slide-text {
  max-height: 120px;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.cases__slider .owl-item.center .cases__slide-text {
  margin-top: 12px;
}

.cases__slider .owl-item.center .cases__slide-link {
  margin-top: 8px;
}

.faq {
  position: relative;
}

.faq__mobile {
  display: none;
  margin-top: 40px;
}

.faq__header {
  position: relative;
}

.faq__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.faq__item-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 400;
  font-size: 18px;

  -webkit-transition: color 0.25s ease;

  -o-transition: color 0.25s ease;

  transition: color 0.25s ease;
}

.faq__item-text {
  max-height: 0;
  margin-top: 0;
  font-size: 16px;

  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);

  -webkit-transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s ease, -webkit-transform 0.25s ease;

  transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s ease, -webkit-transform 0.25s ease;

  -o-transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s ease, transform 0.25s ease;

  transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s ease, transform 0.25s ease;

  transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
}

.faq__item--active .faq__item-text {
  max-height: 1000px;
  margin-top: 24px;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  -webkit-transition-delay: 0.25s;

  -o-transition-delay: 0.25s;

  transition-delay: 0.25s;
}

.faq__tabs {
  width: 760px;
  margin-top: 40px;
  position: relative;
  z-index: 10;
}

.faq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.faq__item {
  padding: 20px;
  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  border-radius: 10px;

  cursor: pointer;


  -webkit-transition:
    padding 0.3s ease,
    border-radius 0.3s ease,
    -webkit-box-shadow 0.25s ease;

  transition:
    padding 0.3s ease,
    border-radius 0.3s ease,
    -webkit-box-shadow 0.25s ease;

  -o-transition:
    padding 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.25s ease;

  transition:
    padding 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.25s ease;

  transition:
    padding 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.25s ease,
    -webkit-box-shadow 0.25s ease;
}

.faq__item:hover {
  -webkit-box-shadow: 0 8px 35px 0 rgba(1, 8, 3, 0.12);
  box-shadow: 0 8px 35px 0 rgba(1, 8, 3, 0.12);
}

.faq__item--active {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
}

.faq__bg-image {
  position: absolute;
  right: 2%;
  top: 30%;

  width: 489px;
  height: 488px;

  background-image: url('../img/faq/faq-bg.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.faq__item-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  position: relative;
  width: 24px;
  height: 24px;
}

.faq__item-icon::before,
.faq__item-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: #1E1E1E;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.faq__item-icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

.faq__item--active .faq__item-icon::before,
.faq__item--active .faq__item-icon::after {
  background-color: var(--color-green-accent);
}

.faq__item--active .faq__item-icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}

.faq__item--active .faq__item-title {
  color: var(--color-green-accent);
}

.recall {
  position: relative;

  padding-top: 140px;
  padding-bottom: 73px;
}

.recall__button {
  margin-right: 120px;
}

.recall__bg-image {
  position: absolute;
  right: 2%;
  top: 20%;

  display: block;
  width: 344px;
  height: 100%;

  background-image: url('../img/recall/recall-bg.webp');
  background-repeat: no-repeat;
  background-size: contain;
}


.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  padding-top: 64px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.form__input {
  border-radius: 4px;
  padding: 14px 16px;
  width: 100%;
  height: 50px;

  border: 1px solid transparent;
  font-size: 16px;
  color: var(--color-black);

  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);

  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--color-grey);
}

.form__input::-moz-placeholder {
  font-size: 16px;
  color: var(--color-grey);
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: var(--color-grey);
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
  color: var(--color-grey);
}

.form__input::placeholder {
  font-size: 16px;
  color: var(--color-grey);
}

.form__input:focus {
  caret-color: var(--color-green);
  outline: none;
  border: 1px solid var(--color-green);
}

.form__input.form__input--error,
.form__input.form__input--error:focus {
  border: 1px solid var(--color-error);
}

.form__error {
  position: absolute;
  bottom: -12px;
  left: 0;

  font-size: 8px;
  color: var(--color-error);
}

.form__button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 25px auto 0;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;

  font-size: 12px;
  color: var(--color-grey);

  margin-top: 25px;
}

.form__checkbox input {
  display: none;
}

.form__checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-green);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form__checkbox input:checked+.form__checkbox-box {
  background: var(--color-green);
}

.form__checkbox input.form__input--error+.form__checkbox-box {
  border-color: var(--color-error);
}

.form__checkbox-text a {
  font-weight: 600;
}


.feedback {
  padding-top: 100px;
}

.feedback__inner {
  padding: 40px 60px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
  box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
}

.feedback__img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.feedback__img {
  position: absolute;
  top: -50px;
  left: -105px;
}

.feedback__text {
  margin-top: 20px;
}

.feedback__box {
  width: 120%;
}

.crumbs {
  position: relative;
  z-index: 10;
}

.crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 32px;
  font-size: 16px;
  padding: 20px 0;
}

.crumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.crumbs__item--active {
  color: var(--color-green);
}

.crumbs__item:not(:last-child)::after {
  content: "/";
  font-size: 24px;
  position: absolute;
  right: -18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--color-grey);
}

.footer {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  isolation: isolate;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  background-image: url(../img/decor/footer.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  pointer-events: none;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 40px 140px 40px 1fr 40px 1fr 40px 1fr 40px 80px;
  grid-template-columns: 280px 140px 1fr 1fr 1fr 80px;
  gap: 40px;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
  font-size: 14px;

  padding: 100px 0 45px;
}

.footer__menu--bottom {
  font-weight: 600;
  color: var(--color-grey);
  padding: 20px 0 80px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.footer__menu-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  max-width: 230px;
}

.footer__contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  width: 196px;
  min-width: 196px;
}

.footer__contacts-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__logo {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 0;
  top: -60px;

  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.footer__logo:hover {
  opacity: 0.85;
}

.footer__contacts--bottom {
  gap: 5px;

}

.footer__menu-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__menu-side--bottom {

  gap: 92px;
  white-space: nowrap;
}

.footer__menu-column--diff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__menu-column--bold {
  font-weight: 600;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background: var(--color-ivory);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__social-item {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.footer__social-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 17px 0;
}

.header__project {
  width: 200px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.header__logo:hover {
  opacity: 0.85;
}

.header__search {
  margin-top: 3px;
}

.header__burger {
  display: none;
  width: 24px;
  height: 24px;
}

.header__burger img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__tel {
  font-size: 16px;
  line-height: 1.1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 43px;

  font-weight: 400;
  font-size: 16px;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: -19px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url("../img/icons/menu-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background: var(--color-white);
  -webkit-box-shadow: 0 8px 35px 0 rgba(1, 8, 3, 0.12);
  box-shadow: 0 8px 35px 0 rgba(1, 8, 3, 0.12);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
}

.header-menu.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header-menu__inner {
  position: relative;
  padding-top: 70px;
  padding-bottom: 36px;
}

.header-menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
}

.header-menu__close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: var(--color-black);
}

.header-menu__close span:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.header-menu__close span:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
  font-size: 20px;
  padding: 20px 0;
}

.header-menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.header-menu__tel {
  font-size: 16px;
  line-height: 1.1;
}

.header-menu__project {
  width: 200px;
}


@media (min-width: 1921px) {

  .hero::before,
  .audience::before,
  .cases::before,
  .footer::before {
    content: none;
  }

  .recall__bg-image {
    right: 18%;
  }
}

@media (max-width: 1279px) {

  .header__nav,
  .header__tel,
  .header__project {
    display: none;
  }

  .header__buttons {
    gap: 16px;
  }

  .header__burger {
    display: block;
  }

  .owl-nav {
    display: none;
  }
}

@media (max-width: 1023px) {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .container {
    padding: 0 45px;
  }

  .hero {
    padding: 105px 0 120px;
  }

  .hero__text {
    margin-top: 16px;
  }

  .hero__buttons {
    margin-top: 94px;
  }

  .hero__bg-image {
    top: 0;
    width: 435px;
    height: 400px;
  }

  .hero__box {
    width: 80%;
  }

  .hero::before {
    left: 0;
    top: -25%;
    width: 100%;
    height: 160%;
    background-image: url(../img/decor/hero.webp);
    background-repeat: no-repeat;
    background-position: left top;
    pointer-events: none;
  }

  .audience {
    padding-bottom: 100px;
  }

  .audience__list {
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }

  .audience__card-text {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .audience__card {
    padding: 16px;

    flex-direction: row;
    gap: 65px;
  }

  .audience__card-img {
    height: 107px;
  }

  .service__text {
    margin-top: 12px;
  }

  .service__list {
    margin-top: 40px;

    flex-direction: column;
    gap: 16px;
  }

  .service__card-text {
    margin-top: 20px;
  }

  .service__sublist li::before {
    width: 3px;
    height: 3px;
    left: 14px;
    top: 7px;
  }

  .cases {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .cases__slider-wrapper {
    margin-top: 40px;
    padding-bottom: 0;
  }

  .cases__desktop {
    display: none;
  }

  .cases__mobile {
    display: flex;
  }

  .cases__slider {
    height: 173px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .cases__slide {
    padding: 16px;

    height: 173px;
  }

  .block-header__text {
    margin-top: 12px;
  }

  .faq__desktop {
    display: none;
  }

  .faq__mobile {
    display: flex;
    color: var(--color-green);
  }

  .faq__mobile span {
    -webkit-filter: invert(34%) sepia(94%) saturate(600%) hue-rotate(90deg) brightness(90%);
    filter: invert(34%) sepia(94%) saturate(600%) hue-rotate(90deg) brightness(90%);
  }

  .faq__bg-image {
    display: none;
  }

  .faq__item {
    padding: 10px 20px;
  }

  .faq__item--active {
    padding: 20px;
  }

  .faq__item--active .faq__item-text {
    margin-top: 16px;
  }

  .faq__item-title {
    font-size: 16px;
  }

  .faq__tabs {
    width: 100%;
  }

  .block-header__button {
    margin-left: 0;
  }

  .faq__item-text {
    font-size: 14px;
  }

  .feedback__inner {
    display: block;
    padding: 40px;
  }

  .feedback__img-container {
    display: none;
  }

  .feedback__box {
    width: 100%;
  }

  .feedback__text {
    margin-top: 12px;
  }

  .form {
    padding: 40px 35px 0;
  }

  .form__row {
    flex-direction: column;
    gap: 16px;
  }

  .form__checkbox {
    margin-top: 0;
  }

  .recall {
    padding: 100px 0 40px;
  }

  .recall__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 38px;
  }

  .recall__bg-image {
    right: 0%;
    top: -5%;
  }

  .footer__menu {
    padding: 90px 0 40px;
  }

  .footer__menu:not(.footer__menu--bottom) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
  }

  .footer__menu:not(.footer__menu--bottom)>* {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    grid-column: span 2;
  }

  .footer__menu:not(.footer__menu--bottom)>.footer__contacts,
  .footer__menu:not(.footer__menu--bottom)>.footer__menu-column--registry {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    grid-column: span 3;
  }

  .footer__menu--bottom {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 0 70px;
  }

  .footer__contacts--bottom {
    width: auto;
    min-width: auto;
  }

  .footer__menu-side--bottom {
    gap: 40px;
    justify-content: space-between;
  }

  .footer__socials {
    margin-top: 12px;
  }

  .header {
    padding: 10px 0;
  }

  .cases::before {
    top: -15%;
  }
}

@media (max-width: 767px) {

  .container {
    padding: 0 16px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .button {
    font-size: 14px;
  }

  .header-menu__list {
    gap: 14px;
    font-size: 18px;
  }

  .header-menu__actions {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 24px;
  }

  .button--transparent {
    gap: 8px;
  }

  .arrow {
    width: 17px;
    height: 8px;
  }

  .hero {
    padding: 80px 0 77px;
  }

  .hero__box {
    width: 100%;
  }

  .hero__text {
    margin-top: 12px;
    text-align: center;
  }

  .hero__buttons {
    margin-top: 104px;

    flex-direction: column;
  }

  .crumbs__list {
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 5px;
    font-size: 14px;
    padding: 10px 0;
  }

  .crumbs__item:not(:last-child)::after {
    font-size: 22px;
    right: -16px;
  }

  .audience {
    padding-bottom: 60px;
  }

  .audience__list {
    margin-top: 30px;
  }

  .audience__card-text {
    margin-top: 8px;
  }

  .audience__card {
    flex-direction: column;
    gap: 35px;
  }

  .audience__card-img {
    height: 152px;
  }

  .cases {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cases__slider-wrapper {
    margin-top: 30px;
  }

  .faq__list {
    margin-top: 30px;
    gap: 8px;
  }

  .faq__item {
    min-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feedback__inner {
    padding: 20px 20px 28px;
  }

  .form {
    padding-left: 0;
    padding-right: 0;
  }

  .form__row {
    gap: 12px;
  }

  .form__input {
    font-size: 14px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__checkbox {
    align-items: center;
  }

  .recall {
    padding-top: 60px;
    overflow: hidden;
  }

  .recall__button {
    margin: 0 auto;
  }

  .footer__menu:not(.footer__menu--bottom) {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__menu:not(.footer__menu--bottom)>* {
    grid-column: span 1;
  }

  .footer__menu:not(.footer__menu--bottom)>.footer__contacts,
  .footer__menu:not(.footer__menu--bottom)>.footer__menu-column--registry,
  .footer__menu:not(.footer__menu--bottom)>.footer__menu-column--diff {
    grid-column: 1 / -1;
  }

  .footer__menu:not(.footer__menu--bottom) .footer__logo {
    position: static;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .footer__menu:not(.footer__menu--bottom)>.footer__contacts>.footer__socials {
    -ms-grid-column: 5;
    grid-column: 3;
    margin-top: 0;
  }

  .footer__menu--bottom {
    flex-direction: column;
    gap: 16px;
    align-items: start;
    padding-bottom: 32px;
  }

  .footer__menu-side--bottom {
    flex-direction: column;
    gap: 16px;
  }

  .footer__menu {
    padding: 30px 0;
  }

  .footer__contacts {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 40px 1fr 35px;
    align-items: start;
  }

  .footer__socials {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__menu-column {
    max-width: unset;
  }

  .footer__contacts--bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .recall__bg-image {
    right: -26%;
    top: 0%;
  }

  .recall__title {
    width: 80%;
  }

  .header__logo {
    width: 86px;
    height: 28px;
  }

  .service__card {
    padding: 16px;
  }


}

@media (max-width: 640px) {
  .hero::before {
    height: 200%;
    background-image: url(../img/decor/hero-mob.webp);
  }

  .audience::before {
    height: 200%;
    top: 45%;
    background-image: url(../img/decor/mob.webp);
  }

  .cases::before {
    height: 200%;
    top: 35%;
    background-image: url(../img/decor/mob.webp);
  }

  .cases::after {
    content: "";
    position: absolute;
    left: 0;
    top: -55%;
    width: 100%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    background-image: url(../img/decor/mob.webp);
  }

  .footer::before {
    height: 120%;
    top: 0;
    background-image: url(../img/decor/mob.webp);
  }

  .faq__item {
    background-color: var(--color-white);
  }

  .audience__list.owl-loaded,
  .service__list.owl-loaded {
    position: relative;
    display: block;
    gap: 0;
  }

  .audience__list.owl-carousel .owl-stage-outer,
  .service__list.owl-carousel .owl-stage-outer {
    padding: 20px 0;
    margin-bottom: 20px;
  }

  .audience__list .owl-stage,
  .service__list .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .audience__list .owl-item,
  .service__list .owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .audience__list .owl-item>li,
  .service__list .owl-item>li {
    width: 100%;
  }

  .audience__list .owl-dots,
  .service__list .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px !important;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;

    z-index: 10;

  }

  .audience__list .owl-dot,
  .service__list .owl-dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
    box-shadow: 0 4px 25px 0 rgba(1, 8, 3, 0.08);
    background: var(--color-white);
  }

  .audience__list .owl-dot.active,
  .service__list .owl-dot.active {
    background: var(--color-green);
  }

  .audience__list .owl-dot span,
  .service__list .owl-dot span {
    display: none;
  }
}

@media (max-width: 375px) {
  .hero__bg-image {
    top: auto;
    bottom: -50%;
    width: 100%;
    height: 100%;
  }
}