/* Light Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

/* Lists */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

/* Inputs */
input,
textarea,
select {
  font: inherit;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}
